*{

    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}

body{
    text-align: center;
    font-family: 'Roboto Condensed', sans-serif;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    border: 1px solid #404EA1;
    height: 100vh;
    
}

body *{
    margin: 10px;
}


@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300&display=swap');
h1{
    font-family: url();
    color: #404EA1;
    
}

input{
    
    width: 25vh;
    height: 5vh;
    margin-bottom: 1rem;
    font-size: 1.5rem;

    
}

.content{
    display: flex;
    justify-content: center;
    align-items: center;
}

