/* ubuntu fonts from google */
@import url('https://fonts.googleapis.com/css2?family=Atkinson+Hyperlegible+Mono:ital,wght@0,200..800;1,200..800&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');

.ubuntu-regular {
  font-family: "Ubuntu", sans-serif;
  font-weight: 400;
  font-style: normal;
  color: white;
}

img {
    width:  400px;
    height: 400px;
    /* border: 1px solid red; */
}

p {
  width: 500px;
}

.inst-container {

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  /* border: 1px solid red; */
  
  p {
    /* border: 1px solid red; */
    width: 300px;
    text-align: center;
  }
  
  img {
    
    width:  100px;
    height: 100px;
  }
}

.work-container {
  img {
    width:  200px;
    height: 200px;
  }
}



/* @========= Responsive =========@ */

/* @========= Responsive 1200 width =========@ */

@media only screen and (max-width: 1200px){

  .inst-h3 {
    text-align: center;
  }
  
}